In [ ]:
from google.colab import files

uploaded = files.upload()

In [ ]:
import pandas as pd

df=pd.read_csv('train.csv')

In [ ]:
df

In [ ]:
X=df["date"]

In [ ]:
from datetime import datetime

def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    d2 = datetime.strptime(d2, "%Y-%m-%d")
    return abs((d2 - d1).days)

In [ ]:
s=[]
for i in range(0,len(df)):
    s.append(i)

In [ ]:
df["date2"]=s

In [ ]:
df=df.drop(['date'], axis=1)

In [ ]:
df[]